soap-mock/BiblioService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.naga.com/BiblioService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BiblioService"
    targetNamespace="http://www.naga.com/BiblioService/">
    <wsdl:documentation>
        BiblioService, a webservice which can be used to add or retrieve books from a collection.
    </wsdl:documentation>
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.naga.com/BiblioService/">
            <xsd:element name="GetTitle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetTitleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateTitles">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateTitlesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAllTitles">
                <xsd:complexType />
            </xsd:element>
            <xsd:element name="GetAllTitlesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateTitle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateTitleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteTitle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteTitleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Title" minOccurs="1" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ISBN" type="xsd:string"></xsd:element>
                                    <xsd:element name="Author" type="xsd:string"></xsd:element>
                                    <xsd:element name="TitleName" type="xsd:string"></xsd:element>
                                    <xsd:element name="PublishDate" type="xsd:string"></xsd:element>
                                    <xsd:element name="Price" type="xsd:string"></xsd:element>
                                    <xsd:element name="Quantity" type="xsd:string"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    
    <!-- 
		A wsdl `message` element is used to define a message
		exchanged between a web service, consisting of zero
		or more `part`s.
	 -->
    
    <wsdl:message name="GetTitleRequest">
        <wsdl:part element="tns:GetTitle" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetTitleResponse">
        <wsdl:part element="tns:GetTitleResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="CreateTitlesRequest">
        <wsdl:part name="parameters" element="tns:CreateTitles"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateTitlesResponse">
        <wsdl:part name="parameters" element="tns:CreateTitlesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllTitlesRequest">
        <wsdl:part name="parameters" element="tns:GetAllTitles"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllTitlesResponse">
        <wsdl:part name="parameters" element="tns:GetAllTitlesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateTitleRequest">
        <wsdl:part name="parameters" element="tns:UpdateTitle"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateTitleResponse">
        <wsdl:part name="parameters" element="tns:UpdateTitleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteTitleRequest">
        <wsdl:part name="parameters" element="tns:DeleteTitle"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteTitleResponse">
        <wsdl:part name="parameters" element="tns:DeleteTitleResponse"></wsdl:part>
    </wsdl:message>
    
    <!-- 
		A WSDL `portType` is used to combine multiple `message`s 
		(e.g. input, output) into a single operation.
		
		Here we define three synchronous (input/output) operations
		and the `message`s that must be used for each.
	 -->
    <wsdl:portType name="BiblioService">
        <wsdl:operation name="GetTitle">
            <wsdl:input message="tns:GetTitleRequest" />
            <wsdl:output message="tns:GetTitleResponse" />
        </wsdl:operation>
        <wsdl:operation name="CreateTitles">
            <wsdl:input message="tns:CreateTitlesRequest"></wsdl:input>
            <wsdl:output message="tns:CreateTitlesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllTitles">
            <wsdl:input message="tns:GetAllTitlesRequest"></wsdl:input>
            <wsdl:output message="tns:GetAllTitlesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateTitle">
            <wsdl:input message="tns:UpdateTitleRequest"></wsdl:input>
            <wsdl:output message="tns:UpdateTitleResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteTitle">
            <wsdl:input message="tns:DeleteTitleRequest"></wsdl:input>
            <wsdl:output message="tns:DeleteTitleResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- 
		The `binding` element defines exactly how each
		`operation` will take place over the network.
		In this case, we are using SOAP.
	 -->
    <wsdl:binding name="BiblioServiceSOAP" type="tns:BiblioService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetTitle">
            <soap:operation soapAction="http://www.naga.com/BiblioService/GetTitle" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateTitles">
            <soap:operation soapAction="http://www.naga.com/BiblioService/CreateTitles" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllTitles">
            <soap:operation
                soapAction="http://www.naga.com/BiblioService/GetAllTitles" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateTitle">
            <soap:operation
                soapAction="http://www.naga.com/BiblioService/UpdateTitle" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteTitle">
            <soap:operation
                soapAction="http://www.naga.com/BiblioService/DeleteTitle" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="BiblioService">
        <wsdl:port binding="tns:BiblioServiceSOAP" name="BiblioServiceSOAP">
            <soap:address location="http://www.example.org/BiblioService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>